:root {
  --text-color: #333333;
  --title-color: #303087;
  --button-color: #f03e69;
  --box-color: #f8f8ff;
  --font-family: "Poppins", sans-serif;
  --space-between-letters: 0.385714px;
}

body {
  background-color: #e9edfc;
  color: var(--text-color);
}
.hero,
.about-me-box {
  font-family: var(--font-family);
  margin: 60px 100px;
  position: relative;
}

.presentation-title {
  position: absolute;
  margin-left: 80px;
}
.hero h3 {
  font-size: 32px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
  letter-spacing: var(--space-between-letters);
}
.hero h1 {
  color: var(--title-color);
  font-size: 72px;
  font-weight: bold;
}
.hero p {
  font-size: 18px;
  line-height: 33px;
  margin-top: 32px;
  letter-spacing: var(--space-between-letters);
}
.hero .buttons {
  font-size: 18px;
  margin-top: 320px;
  margin-bottom: 24px;
  display: flex;
}

.download-image {
  margin: 0;
  padding: 0;
  max-width: 18px;
}
.icon-button {
  padding: 0 0 0 8px;
  margin-left: 8px;
}
.download-button {
  background-color: var(--button-color);
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-left: 16px;
}
.download-button :hover {
  color: white;
}
.about-me-box h1 {
  margin-left: 80px;
  font-size: 80px;
  color: var(--title-color);
  line-height: 120px;
}
.about-soraya {
  margin-left: -80px;
  letter-spacing: var(--space-between-letters);
  line-height: 33px;
  color: var(--text-color);
}
.self-information {
  margin-left: 88px;
  background-color: #e9edfc;
  padding: 40px;
  border-radius: 10px;
}
.information-title {
  color: var(--button-color);
  letter-spacing: 6.33px;
  font-size: 16px;
  font-weight: bold;
}
.information-data {
  font-size: 18px;
  letter-spacing: var(--space-between-letters);
  margin-bottom: 16px;
}
.self-signature {
  max-width: 40%;
  margin-left: -80px;
}
@media (max-width: 768px) {
  .hero,
  .about-me-box {
    margin: 60px 16px;
  }
  .presentation-title {
    margin: 16px;
    position: relative;
  }
  .hero h3 {
    font-size: 20px;
    margin-left: 0;
  }
  .hero h1 {
    margin-left: 0;

    font-size: 32px;
  }
  .hero p {
    font-size: 16px;
  }
  .hero img {
    margin-left: 8px;
    position: relative;
  }
  .hero .buttons {
    margin-top: 32px;
  }
  .about-me-box h1 {
    margin-left: 16px;
    font-size: 32px;
  }
  .about-soraya,
  .self-signature {
    margin-left: 16px;
  }
  .self-information {
    margin-left: 16px;
  }
}
