:root {
  --text-color: #333333;
  --title-color: #303087;
  --button-color: #f03e69;
  --box-color: #f8f8ff;
  --font-family: "Poppins", sans-serif;
  --space-between-letters: 0.385714px;
}
body {
  background-color: #ffffff;
  color: var(--text-color);
}
.navbar-style,
.navbar-style li {
  background-color: #ffffff;
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--font-family);
}
.projects-btn-group {
  margin-top: 63px;
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--box-color);
  padding: 18px 0;

  line-height: 36px;
}
.projects-btn-group a {
  color: var(--title-color);
  text-align: center;
  transition: all 100ms ease-in-out;
}
.disable {
  opacity: 50%;
}
.disable:hover {
  cursor: auto;
}
.arrow {
  max-width: 18px;
}
.projects-btn-group li.active a,
.projects-btn-group a:hover {
  color: var(--button-color);
  text-decoration: underline;
}
.hero,
.about-me-box {
  font-family: var(--font-family);
  margin: 60px 100px;
  position: relative;
}

.presentation-title {
  position: absolute;
  margin-left: 80px;
}
.hero h3 {
  font-size: 32px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
  letter-spacing: var(--space-between-letters);
}
.hero h1 {
  color: var(--title-color);
  font-size: 72px;
  font-weight: bold;
}
.hero p {
  font-size: 18px;
  line-height: 33px;
  margin-top: 32px;
  letter-spacing: var(--space-between-letters);
}
.hero .buttons {
  font-size: 18px;
  margin-top: 80px;
  margin-bottom: 24px;
}

.download-image {
  margin: 0;
  padding: 0;
  max-width: 18px;
}
.icon-button {
  padding: 0 0 0 8px;
  margin-left: 8px;
}
.download-button {
  background-color: var(--button-color);
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-left: 16px;
}
.download-button:hover {
  color: white;
}
.about-me-box h1 {
  margin-left: 80px;
  font-size: 80px;
  color: var(--title-color);
  line-height: 120px;
}
.about-content {
  margin-left: 80px;
  letter-spacing: var(--space-between-letters);
  line-height: 33px;
  color: var(--text-color);
}
.about-soraya {
  margin-left: 80px;
}
.self-information {
  background-color: #e9edfc;
  padding: 40px;
  border-radius: 10px;
}
.information-title {
  color: var(--button-color);
  letter-spacing: 6.33px;
  font-size: 16px;
  font-weight: bold;
}
.information-data {
  font-size: 18px;
  letter-spacing: var(--space-between-letters);
  margin-bottom: 16px;
}
.information-data a {
  color: var(--text-color);
  text-decoration: none;
}
.information-data a:hover {
  color: var(--title-color);
}
.self-signature {
  max-width: 40%;
  margin-left: -80px;
}
.self-skills {
  background-color: var(--box-color);
  margin: 88px 0;
  padding: 66px 172px;
  font-family: var(--font-family);
}
.self-skills h1 {
  color: var(--title-color);
  font-size: 66.2821px;
  font-weight: bold;
  line-height: 99px;
}
.self-skills p {
  margin: 13px 0;
  color: var(--text-color);
}
.each-skill {
  color: #ffffff;
  background-color: var(--text-color);
  border-radius: 23.2px;
  line-height: 20px;
  font-size: 14.9135px;
  letter-spacing: 0.21px;
  padding: 7px 13px;
  margin-right: 13px;
  margin-bottom: 13px;
}

.projects {
  font-family: var(--font-family);
  margin: 96px 180px;
}
.projects h1 {
  color: var(--title-color);
  font-size: 80px;
  line-height: 120px;
  font-weight: bold;
  margin-bottom: 32px;
}
.project-data {
  margin: 40px 0;
}
.projects h2 {
  color: var(--button-color);
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-top: 80px;
}
.projects p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 33px;
  letter-spacing: var(--space-between-letters);
  margin: 24px 0;
}
.project.page h1 {
  margin-top: 73px;
  margin-bottom: 32px;
}
.btn-findout {
  border-radius: 8px;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  padding: 8px 25px 7px 25px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.btn-findout:hover {
  color: white;
  background-color: var(--button-color);
}
.project-buttons {
  margin: 56px 0;
}
.project-buttons .download-button {
  padding: 9.5px 46px 12px 46px;
  font-size: 18px;
}
.github-button {
  margin-top: 32px;
  text-align: center;
  color: var(--button-color);
}
.footer {
  font-family: var(--font-family);
  line-height: 36px;
  letter-spacing: var(--space-between-letters);
  background-color: var(--title-color);
  color: #ffffff;
  padding: 86px;
  text-align: center;
  font-size: 18px;
  margin-top: 80px;
}
@media (max-width: 965px) {
  .hero h1 {
    font-size: 52px;
  }
  .hero .buttons {
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .hero {
    margin: 60px 16px 22px 16px;
  }
  .presentation-title {
    margin: 16px;
    position: relative;
  }
  .hero h3 {
    font-size: 20px;
    margin-left: 0;
  }
  .hero h1 {
    margin-left: 0;
    font-size: 32px;
  }
  .hero p {
    font-size: 16px;
  }
  .hero img {
    margin: 16px;
    position: relative;
  }
  .hero .buttons {
    margin-top: 32px;
  }
  .about-me-box h1 {
    margin-left: 16px;
    font-size: 32px;
  }
  .about-me-box {
    margin: 0 16px;
  }
  .about-me-box {
    margin: 0 16px;
  }
  .self-signature {
    display: block;
    margin: 0 auto;
  }
  .about-soraya {
    margin: 0;
  }

  .self-skills {
    margin: 64px 0;
    padding: 32px 18px;
  }
  .self-skills h1 {
    font-size: 32px;
  }
  .project-page,
  .projects {
    margin: 32px 16px;
  }
  .projects h1 {
    font-size: 32px;
    margin-left: 16px;
    margin-bottom: 28px;
  }
  .project-data {
    margin: 0 0 32px 0;
  }
  .project-data h2 {
    font-size: 20px;
    margin: 16px 0;
  }
  .project-sample {
    margin: 0 16px;
  }
  a .download-button {
    margin-left: 0;
    margin-top: 16px;
  }
  .footer {
    margin-top: 46px;
  }
}
